* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}


/* Light theme */
.body {
    background-color: #e4e2e2;
    color: #a70202;
}

/*Dark theme*/
.darkTheme {
    background-color: #800080;
    color: #ff6229;
}

.themeToggle {
    border: 2px solid black;
    border-radius: 10px;
    margin: 40px;
}