* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}


/* Light theme */
.body {
    background-color: #e4e2e2;
    background-image: url(Images/Light.jpg);
    background-blend-mode: color-dodge;
    color: #a70202;
}

.light {
    display: flex;
    text-align: center;
}

.dark {
    display: none;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.divCard {
    text-align: center;
    width: 400px;
    background-color: green;
    border-radius: 10px;
}

.textTwo {
    display: flex;
    justify-content: center;
    text-align: center;
    
}

/*Dark theme*/
.darkTheme {
    background-color: #800080;
    background-image: url(Images/Dark\ \(2\).jpg);
    background-size: contain;
    background-blend-mode: color-dodge;
    color: #ff6229;
    .light {
        display: none;
    }
    
    .dark {
        display: flex;
        text-align: center;
    }
    .divCard{
        background-color: black;
    }
    .textOne {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}

/* .light {
    display: none;
}

.dark {
    display: flex;
    text-align: center;
} */

.themeToggle {
    border: 2px solid black;
    border-radius: 10px;
    margin: 40px;
    padding: 5px;
}